<h1><%= @post.title %></h1>

<% if @post.subtitle.present? %>
  <p><em><%= @post.subtitle %></em></p>
<% end %>

<p>By <%= @post.user.display_name %></p>

<p><%= link_to "Read the full post", post_url(@post, slug: @post.slug) %></p>
