<div class="youtube-video-embed">
  <div class="youtube-video-wrapper">
    <iframe src="https://www.youtube.com/embed/<%= youtube_video.video_id %>"
            title="<%= youtube_video.title || "YouTube video" %>"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            loading="lazy">
    </iframe>
  </div>
</div>
