<h1>Welcome to <%= @site_name %></h1>

<p>Thanks for subscribing! Click the link below to confirm your subscription and sign in:</p>

<p><%= link_to "Confirm and sign in", @magic_link %></p>

<p>This link will expire in 15 minutes.</p>
