<h1><%= t('subscriber_mailer.confirmation.welcome', site_name: @site_name) %></h1>

<p><%= t('subscriber_mailer.confirmation.thanks') %></p>

<p><%= link_to t('subscriber_mailer.confirmation.confirm_link'), @magic_link %></p>

<p><%= t('subscriber_mailer.confirmation.link_expiry') %></p>
