<h1><%= t('subscriber_mailer.magic_link.sign_in_to', site_name: @site_name) %></h1>

<p><%= t('subscriber_mailer.magic_link.click_to_sign_in') %></p>

<p><%= link_to t('subscriber_mailer.magic_link.sign_in'), @magic_link %></p>

<p><%= t('subscriber_mailer.magic_link.link_expiry') %></p>
