<%# locals: (form:, field:, options: nil, collection: nil, value_method: nil, text_method: nil, include_blank: nil, data: {}) %>
<%
  extra_action = data.delete(:action)
  merged_data = data.merge(custom_select_target: "select")
  merged_data[:action] = extra_action if extra_action
%>
<div data-controller="custom-select" class="relative mt-2">
  <div class="sr-only" aria-hidden="true">
    <% if collection %>
      <%= form.collection_select field, collection, value_method, text_method,
            { include_blank: include_blank },
            data: merged_data %>
    <% else %>
      <%= form.select field, options, { include_blank: include_blank }, data: merged_data %>
    <% end %>
  </div>

  <button type="button"
          data-custom-select-target="trigger"
          data-action="click->custom-select#toggle"
          class="relative w-full cursor-pointer rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 sm:text-sm sm:leading-6">
    <span data-custom-select-target="triggerText" class="block truncate"></span>
    <span class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
      <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
      </svg>
    </span>
  </button>

  <ul data-custom-select-target="dropdown"
      role="listbox"
      class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black/5 transition duration-100 ease-out hidden opacity-0 scale-95 focus:outline-none sm:text-sm">
  </ul>
</div>
