<%# locals: (headings:) %>
<nav class="toc" aria-label="Table of contents">
  <h2 class="toc__heading">
    Table of Contents
  </h2>
  <ol class="toc__list">
    <% headings.each do |heading| %>
      <li class="toc__item<%= " toc__item--level-#{heading.level}" if heading.level > 2 %>">
        <a href="#<%= heading.id %>"
           class="toc__link"
           data-toc-target="link"
           data-action="click->toc#scrollTo"><%= heading.text %></a>
      </li>
    <% end %>
  </ol>
</nav>
